<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main :: head(title='HIS-LPS::Simulation Result')"></head>
<body class="skin-blue layout-top-nav layout-boxed">

	<div class="wrapper">
		<div th:replace="layout/main :: header"></div>

		<!-- Full Width Column -->
		<div class="content-wrapper">
		
			<!-- Content Header (Page header) -->
			<section class="content-header"
				th:insert="layout/main :: breadcrumb(~{ :: .breadcrumb})">
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Simulation Result</li>
				</ol>
			</section>
			

			<!-- Main content -->
			<section class="content"
				th:insert="layout/main :: box( 'Simulation ' +  + ' Result', ~{ :: .box-body})">
				<div class="box-body">
					Example Page Content
				</div>
			</section>
		</div>
		<!-- end container -->

		<!-- Main Footer -->
		<div th:replace="layout/main :: footer"></div>
	</div>

</body>
</html>

