<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="layout/main :: head(title='HIS-LPS::Simulation Result')"></head>
<body class="skin-blue layout-top-nav layout-boxed">

	<div class="wrapper">
		<div th:replace="layout/main :: header('simulation')"></div>

		<!-- Full Width Column -->
		<div class="content-wrapper">

			<!-- Content Header (Page header) -->
			<section class="content-header"
				th:insert="layout/main :: breadcrumb(~{ :: .breadcrumb})">
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
					<li><a href="/simulation">Simulation</a></li>
					<li class="active">Result</li>
				</ol>
			</section>


			<!-- Main content -->
			<section class="content">

				<div class="row">
					<div class="col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-aqua">
							<div class="inner">
								<h3 th:text="${#dates.format(simConfig.date, 'dd/MM/yy')}"></h3>
								<p th:text="${#dates.format(simConfig.date, ' HH:mm') + ' oclock'}"></p>
								<p>Run Date</p>
							</div>
							<div class="icon">
								<i class="fa fa-calendar"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-green">
							<div class="inner">
								<h3>
									<span th:text="${simConfig.singlesPercentage}"></span> <sup style="font-size: 20px"> %</sup>
								</h3>
								<p> &nbsp; </p>
								<p>Singles Percentage</p>
							</div>
							<div class="icon">
								<i class="ion ion-pie-graph"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-yellow">
							<div class="inner">
								<h3 th:text="${simConfig.numberOfHouses}"></h3>
								<p> &nbsp; </p>
								<p># Houses</p>
							</div>
							<div class="icon">
								<i class="fa fa-home"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-red">
							<div class="inner">
								<h3># People</h3>
								<p th:text="'Minimum ' + ${simConfig.minNumberOfPeople}"></p>
								<p th:text="'Minimum ' + ${simConfig.maxNumberOfPeople}"></p>
							</div>
							<div class="icon">
								<i class="ion ion-pie-graph"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">
									Simulation <span th:text="${simConfig.name}"></span> Result
								</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool"
										data-widget="collapse">
										<i class="fa fa-minus"></i>
									</button>
									<button type="button" class="btn btn-box-tool"
										data-widget="remove">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>

							<div class="box-body chart-responsive">
								<div class="chart" id="total-chart" style="height: 300px;"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6" th:each="house : ${houses}">
						<div class="box box-info">
							<div class="box-header with-border">
								<h3 class="box-title" th:text="${house.type}"></h3>

								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool"
										data-widget="collapse">
										<i class="fa fa-minus"></i>
									</button>
									<button type="button" class="btn btn-box-tool"
										data-widget="remove">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							<div class="box-body chart-responsive">
								<div class="chart" id="line-chart"
									th:id="'line-chart-' + ${house.id}" style="height: 300px;"></div>
							</div>
							<!-- /.box-body -->
						</div>
					</div>
				</div>


			</section>
			<!-- end container -->
		</div>


		<!-- Main Footer -->
		<div th:replace="layout/main :: footer"></div>

	</div>

	<!-- Morris.js charts -->
	<script type="text/javascript" src="../../../js/raphael/raphael.min.js"
		th:src="@{/js/raphael/raphael.min.js}"></script>
	<script type="text/javascript" src="../../../js/morris/morris.min.js"
		th:src="@{/js/morris/morris.min.js}"></script>

	<!-- FastClick -->
	<script type="text/javascript"
		src="../../../js/fastclick/lib/fastclick.js"
		th:src="@{/js/fastclick/lib/fastclick.js}"></script>


	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			var lines = [];

			/*[# th:each="house : ${houses}"]*/
			var houseid = "[(${house.id})]";
			var measurement = []

			/*[# th:each="measurement : ${house.resultLoadCurve.measurements}"]*/
			measurement.push({
				y : '[(${measurement.time})]',
				item : '[(${measurement.value})]'
			});
			/*[/]*/

			// LINE CHART
			lines[houseid] = new Morris.Line({
				element : 'line-chart-' + houseid,
				resize : true,
				data : measurement,
				xkey : 'y',
				ykeys : [ 'item' ],
				labels : [ 'Item 1' ],
				lineColors : [ '#3c8dbc' ],
				hideHover : 'auto'
			});
			/*[/]*/
			
			totmeasur = [];
			
			/*[# th:each="measure : ${houseTotal.resultLoadCurve.measurements}"]*/
			totmeasur.push({
				y : '[(${measure.time})]',
				item : '[(${measure.value})]'
			});
			/*[/]*/
			
			var totChart = new Morris.Line({
				element : 'total-chart',
				resize : true,
				data : totmeasur,
				xkey : 'y',
				ykeys : [ 'item' ],
				labels : [ 'Item 1' ],
				lineColors : [ '#3c8dbc' ],
				hideHover : 'auto'
			});
		});
		/*]]>*/
	</script>
</body>
</html>

