<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="layout/main :: head(title='HIS-LPS::Simulation Result')"></head>
<body class="skin-blue layout-top-nav layout-boxed">

	<div class="wrapper">
		<div th:replace="layout/main :: header('simulation')"></div>

		<!-- Full Width Column -->
		<div class="content-wrapper">

			<!-- Content Header (Page header) -->
			<section class="content-header"
				th:insert="layout/main :: breadcrumb(~{ :: .breadcrumb})">
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
					<li><a href="/simulation">Simulation</a></li>
					<li class="active">Result</li>
				</ol>
			</section>


			<!-- Main content -->
			<section class="content">

				<div class="row">
					<div class="col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-aqua">
							<div class="inner">
								<h3 th:text="${#dates.format(simConfig.date, 'dd/MM/yy')}"></h3>
								<p
									th:text="${#dates.format(simConfig.date, ' HH:mm') + ' oclock'}"></p>
								<p>Run Date</p>
							</div>
							<div class="icon">
								<i class="fa fa-calendar"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-green">
							<div class="inner">
								<h3>
									<span th:text="${simConfig.singlesPercentage}"></span> <sup
										style="font-size: 20px"> %</sup>
								</h3>
								<p>&nbsp;</p>
								<p>Singles Percentage</p>
							</div>
							<div class="icon">
								<i class="ion ion-pie-graph"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-yellow">
							<div class="inner">
								<h3 th:text="${simConfig.numberOfHouses}"></h3>
								<p>&nbsp;</p>
								<p># Houses</p>
							</div>
							<div class="icon">
								<i class="fa fa-home"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-red">
							<div class="inner">
								<h3># People</h3>
								<p th:text="'Minimum ' + ${simConfig.minNumberOfPeople}"></p>
								<p th:text="'Minimum ' + ${simConfig.maxNumberOfPeople}"></p>
							</div>
							<div class="icon">
								<i class="ion ion-pie-graph"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">
									Simulation <span th:text="${simConfig.name}"></span> Result
								</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool"
										data-widget="collapse">
										<i class="fa fa-minus"></i>
									</button>
									<button type="button" class="btn btn-box-tool"
										data-widget="remove">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>

							<div class="box-body">
								<div class="chart">
									<canvas id="total-chart" width="510" height="250"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row"  th:each="house : ${houses}">
					<div class="col-md-12">
						<div class="box box-info">
							<div class="box-header with-border">
								<h3 class="box-title" th:text="${house.type}"></h3>

								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool"
										data-widget="collapse">
										<i class="fa fa-minus"></i>
									</button>
									<button type="button" class="btn btn-box-tool"
										data-widget="remove">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							<div class="box-body">
								<h3> Household Availabilities </h3>
								<div class="row">
									<div th:classappend="'col-md-'+ 12/${house.availabilities.size()}" th:each="availability : ${house.availabilities}">
										<table class="table table-bordered table-striped" >
											<thead>
												<tr>
													<th>Activity</th>
													<th>Start</th>
													<th>End</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="activity : ${availability.activities}">
													<td th:text="${activity.name}"></td>
													<td th:text="${#calendars.format(activity.start, 'h:mm a')}"></td>
													<td th:text="${#calendars.format(activity.end, 'h:mm a')}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<h3> Household Appliances </h3>
								<div class="row">
									<div class="col-md-12">
										<table class="table table-bordered table-striped" >
											<thead>
												<tr>
													<th>Type</th>
													<th>Power Input On</th>
													<th>Power Input Off</th>
													<th>Duration</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="appliance : ${house.appliances}">
													<td th:text="${appliance.type}"></td>
													<td th:text="${appliance.operationalModes.get(0).powerInputOn}"></td>
													<td th:text="${appliance.operationalModes.get(0).powerInputOff}"></td>
													<td th:text="${appliance.operationalModes.get(0).duration}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="chart">
									<canvas id="line-chart"
									th:id="'line-chart-' + ${house.id}" width="510" height="250"></canvas>
								</div>
							</div>
							<!-- /.box-body -->
						</div>
					</div>
				</div>


			</section>
			<!-- end container -->
		</div>


		<!-- Main Footer -->
		<div th:replace="layout/main :: footer"></div>

	</div>

	<!-- Morris.js charts -->
	<script type="text/javascript" src="../../../js/chart/dist/Chart.min.js"
		th:src="@{/js/chart/dist/Chart.min.js}"></script>

	<!-- FastClick -->
	<script type="text/javascript"
		src="../../../js/fastclick/lib/fastclick.js"
		th:src="@{/js/fastclick/lib/fastclick.js}"></script>


	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		String.prototype.toHHMMSS = function() {
			var sec_num = parseInt(this, 10); // don't forget the second param
			var hours = Math.floor(sec_num / 3600);
			var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
			var seconds = sec_num - (hours * 3600) - (minutes * 60);

			if (hours < 10) {
				hours = "0" + hours;
			}
			if (minutes < 10) {
				minutes = "0" + minutes;
			}
			if (seconds < 10) {
				seconds = "0" + seconds;
			}
			return hours + ':' + minutes + ':' + seconds;
		}
		
		
		$(document).ready(
				function() {
					var lines = [];

					/*[# th:each="house : ${houses}"]*/
					var houseid = "[(${house.id})]";
					var labels = [];
					var loaddata = [];
					var lightingdata = [];
					var occupancy = [];
					var activeOccupancy = [];
					var tot = 0;
					var tot2 = 0;

					/*[# th:each="measurement : ${house.resultLoadCurve.measurements}"]*/
						labels.push('[(${measurement.time})]'.toHHMMSS());
						loaddata.push('[(${measurement.value})]');
						tot = tot + parseInt('[(${measurement.value})]');
						lightingdata.push('[(${measurement.lightingValue})]');
						tot2 = tot2 + parseInt('[(${measurement.lightingValue})]');
						occupancy.push('[(${measurement.occupancy})]');
						activeOccupancy.push('[(${measurement.activeOccupancy})]');
					/*[/]*/

					var lineChartData = {
						labels : labels,
						datasets : [ {
							label : 'Load Curve, Total : ' + tot,
							backgroundColor: '#65ecf1',
			                borderColor: '#65ecf1',
			                fill: false,
							data : loaddata
						},{
							label : 'Lighting Load, Total : ' + tot2,
							backgroundColor: '#f1de65',
			                borderColor: '#f1de65',
			                fill: false,
							data : lightingdata
						},{
							label : 'Occupancy',
							backgroundColor: '#d964f0',
			                borderColor: '#d964f0',
			                fill: false,
							data : occupancy
						},{
							label : 'Active Occupancy',
							backgroundColor: '#f4294b',
			                borderColor: '#f4294b',
			                fill: false,
							data : activeOccupancy
						}]
					};

					var ctx = document.getElementById('line-chart-' + houseid)
							.getContext("2d");
					lines[houseid] = new Chart(ctx,  {
					    type: 'line',
					    data: lineChartData, 
					    options : { 
					    	responsive: true,
				            title:{
				                display:true,
				                text:'HouseHold Load Curve Chart'
				            },
				            scales: {
				                xAxes: [{
				                    display: true,
				                }],
				                yAxes: [{
				                    display: true,
				                    type: 'logarithmic',
				                }]
				            }
			        		}
					    });
					/*[/]*/

					var labels = [];
					var loaddata = [];
					var lightingdata = [];
					var occupancy = [];
					var activeOccupancy = [];
					tot = 0;
					tot2 = 0;

					/*[# th:each="measure : ${houseTotal.resultLoadCurve.measurements}"]*/
						labels.push('[(${measure.time})]'.toHHMMSS());
						loaddata.push('[(${measure.value})]');
						tot = tot + parseInt('[(${measure.value})]');
						lightingdata.push('[(${measure.lightingValue})]');
						tot2 = tot2 + parseInt('[(${measure.lightingValue})]');
						occupancy.push('[(${measure.occupancy})]');
						activeOccupancy.push('[(${measure.activeOccupancy})]');
					/*[/]*/

					var lineChartData = {
						labels : labels,
						datasets : [ {
							label : 'Total Load Curve, Total : ' + tot,
							backgroundColor: '#1114b6',
			                borderColor: '#1114b6',
			                fill: false,
							data : loaddata
						},{
							label : 'Total Lighting Load, Total : ' + tot2,
							backgroundColor: '#f1de65',
			                borderColor: '#f1de65',
			                fill: false,
							data : lightingdata
						},{
							label : 'Occupancy',
							backgroundColor: '#d964f0',
			                borderColor: '#d964f0',
			                fill: false,
							data : occupancy
						},{
							label : 'Active Occupancy',
							backgroundColor: '#f4294b',
			                borderColor: '#f4294b',
			                fill: false,
							data : activeOccupancy
						}]
					};

					var ctx = document.getElementById('total-chart')
							.getContext("2d");
					var totChart = new Chart(ctx , {
					    type: 'line',
					    data: lineChartData, 
					    options : { 
					    	responsive: true,
				            title:{
				                display:true,
				                text:'Total Load Curve Chart'
				            },
				            scales: {
				                xAxes: [{
				                    display: true,
				                }],
				                yAxes: [{
				                    display: true,
				                    type: 'logarithmic',
				                }]
				            }
			        		}
					    });
				});
		/*]]>*/
	</script>
</body>
</html>

