<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main :: head(title='HIS-LPS::Histroy')"></head>
<body class="skin-blue layout-top-nav layout-boxed">

	<div class="wrapper">
		<div th:replace="layout/main :: header"></div>

		<!-- Full Width Column -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Top Navigation <small>Example 2.0</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Simulation Histroy</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<h2>
				<span th:text="'Saved Simulations'"></span>
			</h2>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>ID</td>
						<td>Name</td>
						<td>Run Date</td>
						<td>Number Of Houses</td>
						<td>Singles Percentage</td>
						<td>Options</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${simConfigs.empty}">
						<td colspan="6">No Saved Simulations</td>
					</tr>
					<tr th:each="simConfig : ${simConfigs}">
						<td th:text="${simConfig.id}">1</td>
						<td><a href="#" th:href="@{/Simulation/result/{name}(name=${simConfig.name})}"
							th:text="${simConfig.name}">name ...</a></td>
						<td th:text="${#calendars.format(availability.date)}">July 11, 2017
							2:17:16 PM CDT</td>
						<td th:text="${simConfig.numberOfHouses}">300 ...</td>
						<td>
						   Options
						</td>
					</tr>
				</tbody>
			</table>
			</section>
		</div>
		<!-- end container -->

		<!-- Main Footer -->
		<div th:replace="layout/main :: footer"></div>
	</div>

</body>
</html>



