<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main :: header(title='HIS-LPS::Example Page')"></head>
<body>

	<div th:replace="layout/main :: menu"></div>

	<!-- end container -->
	<div class="container">

		<div class="starter-template">
<!-- 			<table class="table table-bordered table-striped"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<td>ID</td> -->
<!-- 						<td>Name</td> -->
<!-- 						<td>Text</td> -->
<!-- 						<td>Date</td> -->
<!-- 						<td>Options</td> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody> -->
<!-- 					<tr th:if="${appliances.empty}"> -->
<!-- 						<td colspan="5">No tasks</td> -->
<!-- 					</tr> -->
<!-- 					<tr th:each="appliance : ${appliances}"> -->
<!-- 						<td th:text="${appliance.id}"></td> -->
<!-- 						<td><a href="#" th:href="@{/appliance/details/{id}(id=${appliance.id})}" -->
<!-- 							th:text="${appliance.name}"></a></td> -->
<!-- 						<td th:text="${appliance.description}"></td> -->
<!-- 						<td th:text="${#calendars.format(appliance.creationDate)}"></td> -->
<!-- 						<td> -->
<!-- 							Options -->
<!-- 						</td> -->
<!-- 					</tr> -->
					
<!-- 					#calendars.format(appliance.date) -->
<!-- 				</tbody> -->
<!-- 			</table> -->
		</div>

	</div>
	<!-- end container -->
	
	<div th:replace="layout/main :: footer"></div>
</body>
</html>

