<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main :: header(title='HIS-LPS::Configuration')"></head>
<body>

	<div th:replace="layout/main :: menu"></div>

	<!-- end container -->
	<div class="container">
	
		<div class="starter-template">

			<h2>
				<span th:text="'Appliances'"></span>
			</h2>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>ID</td>
						<td>Name</td>
						<td>Text</td>
						<td>Date</td>
						<td>Options</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${appliances.empty}">
						<td colspan="5">No tasks</td>
					</tr>
					<tr th:each="appliance : ${appliances}">
						<td th:text="${appliance.id}">1</td>
						<td><a href="#" th:href="@{/appliance/details/{id}(id=${appliance.id})}"
							th:text="${appliance.name}">Title ...</a></td>
						<td th:text="${appliance.text}">Text ...</td>
						<td th:text="${appliance.date}">July 11, 2017
							2:17:16 PM CDT</td>
						<td>
							Options
						</td>
					</tr>
					
					<!-- #calendars.format(appliance.date) -->
				</tbody>
			</table>
		</div>

	</div>
	<!-- end container -->

	<div th:replace="layout/main :: footer"></div>
</body>
</html>

