<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main :: head(title='HIS-LPS::Appliance Edit')"></head>
<body class="skin-blue layout-top-nav layout-boxed">

	<div class="wrapper">
		<div th:replace="layout/main :: header('appliance')"></div>

		<!-- Full Width Column -->
		<div class="content-wrapper">

			<!-- Content Header (Page header) -->
			<section class="content-header"
				th:insert="layout/main :: breadcrumb(~{ :: .breadcrumb})">
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#" th:href="@{/appliance}">Appliances</a></li>
					<li class="active">Edit</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content-error">
				<div class="callout callout-danger" id="error" style="display: none">
					<!-- this will be full with Js in case of error in the request -->
				</div>
			</section>

			<!-- Main content -->
			<section class="content"
				th:insert="layout/main :: box( ${title}, ~{ :: .box-body})">
				<div class="box-body">
					<form class="form-narrow form-horizontal" th:object="${appliance}"
						th:action="@{/appliance/save}" method="post" id="appliance-form">
						<fieldset>
							<input type="hidden" th:field="*{id}" />
							<div class="form-group">
								<label for="name" class="col-lg-2 control-label">Appliance
									Name *</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="name"
										placeholder="Name" th:field="*{name}" />
								</div>
							</div>

							<div class="form-group">
								<label for="type" class="col-lg-2 control-label">Appliance
									Type * </label>
								<div class="col-lg-10">
									<select class="form-control" id="type" th:field="*{type}">
										<option value=""> -- Please Select -- </option>
										<option th:each="applianceType : ${T(his.loadprofile.core.ApplianceType).values()}" 
											th:value="${applianceType}"
											th:text="${applianceType}"></option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="description" class="col-lg-2 control-label">Description</label>
								<div class="col-lg-10">
									<textarea class="form-control" id="description"
										placeholder="Description" th:field="*{description}"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label for="inputPassword" class="col-lg-2 control-label">
								Operational Modes
								<br/>
								<br/>
								</label>
								<div class="col-lg-10">
									<button 
										class="btn btn-primary btn-flat"
										data-toggle="tooltip" 
										data-placement="top" 
										type="button"
										id="addNewOp"
										title="Add New Operational Mode">
										<i class="fa fa-plus"></i> Add New Operational Mode
									</button>
									<br/>
									<br/>
								</div>
								<div class="col-lg-12">
										<table id="opTable" class="table table-bordered table-hover dataTable">
											<thead>
											<tr>
												<th>Name</th>
												<th>Description</th>
												<th>Power Input On</th>
												<th>Power Input Off</th>
												<th>Restart Delay</th>
												<th>Scale Factor</th>
												<th>Duration</th>
												<th>Left Cycle Time</th>
												<th>Left Restart Delay</th>
												<th>Load Curve</th>
												<th>Options</th>
											</tr>
											</thead>
											<tbody>
												<tr th:each="operationalModes, stat : *{operationalModes}">
													<td>
														<input 
															type="text" 
															class="form-control"
															placeholder="Name" 
															th:field="*{operationalModes[__${stat.index}__].name}" 
														/>
													</td>
													<td>
														<textarea cols="150" rows="3"
															class="form-control" 
															placeholder="Description" 
															th:field="*{operationalModes[__${stat.index}__].description}" 
														></textarea>
													</td>
													<td>
														<input 
															type="text" 
															class="form-control" 
															placeholder="Power Input On" 
															th:field="*{operationalModes[__${stat.index}__].powerInputOn}" 
														/>
													</td>
													<td>
														<input
															type="text"
															class="form-control"
															placeholder="Power Input Off" 
															th:field="*{operationalModes[__${stat.index}__].powerInputOff}" 
														/>
													</td>
													<td>
														<input 
															type="text" 
															class="form-control"
															placeholder="Restart Delay" 
															th:field="*{operationalModes[__${stat.index}__].restartDelay}" />	
													</td>
													<td>
														<input 
															type="text" 
															class="form-control"
															placeholder="Scale Factor" 
															th:field="*{operationalModes[__${stat.index}__].scaleFactor}" />
													</td>
													<td>
														<input 
															type="text" 
															class="form-control" 
															placeholder="Duration" 
															th:field="*{operationalModes[__${stat.index}__].duration}" />
													</td>
													<td>
														<input 
															type="text" 
															class="form-control"
															placeholder="Left Cycle Time" 
															th:field="*{operationalModes[__${stat.index}__].leftCycleTime}" />
													</td>
													<td>
														<input 
															type="text" 
															class="form-control"
															placeholder="Left Restart Delay" 
															th:field="*{operationalModes[__${stat.index}__].leftRestartDelay}" />
													</td>
													<td>
														<button type="button" class="btn btn-info btn-sm btn-flat" 
															data-toggle="modal" data-target="#modal-default"
															th:attr="data-target='#modal-default' + ${stat.index}" >
															<i class="fa fa-edit"></i>
														</button>
														
														<div class="modal modal-primary fade" 
															id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
															th:id="'modal-default' + ${stat.index}"
														>
												          	<div class="modal-dialog" role="document">
												            	<div class="modal-content">
												              		<div class="modal-header">
												                		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												                  		<span aria-hidden="true">×</span></button>
												                		<h4 class="modal-title">Edit Load Curve</h4>
												              		</div>
												              		<div class="modal-body">
												                		<div class="form-group">
																			<label th:for="'curve-name-' + ${stat.index}" class="col-lg-2 control-label">
																				Curve Name
																			</label>
																			<div class="col-lg-10">
																				<input type="text" class="form-control" 
																					th:id="'curve-name-' + ${stat.index}"
																					placeholder="Curve Name" 
																					th:field="*{operationalModes[__${stat.index}__].loadCurve.name}" 
																				/>
																			</div>
																		</div>
																		
																		<div class="form-group">
																			<label th:for="'curve-description-' + ${stat.index}" class="col-lg-2 control-label">
																				Curve Description
																			</label>
																			<div class="col-lg-10">
																				<textarea cols="150" rows="3"
																					class="form-control" 
																					th:id="'curve-description-' + ${stat.index}"
																					placeholder="Curve Description" 
																					th:field="*{operationalModes[__${stat.index}__].loadCurve.description}" 
																				></textarea>
																			</div>
																		</div>
																		<div class="form-group">
																			<label for="inputPassword" class="col-lg-2 control-label">
																			Measurements
																			<br/>
																			<br/>
																			</label>
																			<div class="col-lg-10">
																				<button 
																					class="btn btn-primary btn-flat"
																					data-toggle="tooltip" 
																					data-placement="top" 
																					type="button"
																					id="addNewMeas"
																					th:attr="data-target='#opTable' + ${stat.index}, data-id = ${stat.index}"
																					title="Add New Measurements">
																					<i class="fa fa-plus"></i> Add New Measurements
																				</button>
																				<br/>
																				<br/>
																			</div>
																		</div>
												                		<table th:id="'opTable' + ${stat.index}" class="table table-bordered table-hover dataTable">
																			<thead>
																				<tr>
																					<th>Time</th>
																					<th>Load Value</th>
																					<td>Option</td>
																				</tr>
																			</thead>
																			<tbody>
																				<tr th:each="measurements, curvestate : *{operationalModes[__${stat.index}__].loadCurve.measurements}">
																					<td>
																						<input 
																							type="number" 
																							class="form-control"
																							placeholder="Left Restart Delay" 
																							th:field="*{measurements[__${curvestate.index}__].time}" />
																					</td>
																					<td>
																					    <input 
																							type="number" 
																							class="form-control"
																							placeholder="Left Restart Delay" 
																							th:field="*{measurements[__${curvestate.index}__].value}" />
																					</td>
																					<td>
																						<button type="button" class="btn btn-danger btn-sm btn-flat deleteOp"
																							data-toggle="tooltip" data-placement="top" title="delete">
																							<i class="fa fa-trash"></i>
																						</button>
																					</td>
																				</tr>
																			</tbody>
																		</table>
												              		</div>
												              		<div class="modal-footer">
												                		<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Save And Close</button>
												              		</div>
												            	</div>
												            	<!-- /.modal-content -->
												          	</div>
												          	<!-- /.modal-dialog -->
												        </div>
														
													</td>
													<td>
														<button type="button" class="btn btn-danger btn-sm btn-flat deleteOp"
															data-toggle="tooltip" data-placement="top" title="delete">
															<i class="fa fa-trash"></i>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
										
										
								</div>
							</div>
							<hr/>
							<div class="form-group">
								<div class="col-lg-12">
									<button type="submit" name="submit" value="start"
										class="btn  btn-success btn-flat"> <i class="fa fa-save"></i>&nbsp; Save &nbsp;</button>
								</div>
							</div>

						</fieldset>
					</form>
				</div>
			</section>

		</div>
		<!-- end container -->

		<!-- Main Footer -->
		<div th:replace="layout/main :: footer"></div>
		
		<script type="text/javascript" 
		th:src="@{/js/appliances.js}"
		src="../../js/appliances.js"></script>
	</div>

</body>
</html>
