<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main :: header(title='HIS-LPS::Histroy')"></head>
<body>

	<div th:replace="layout/main :: menu"></div>

	<!-- end container -->
	<div class="container">

		<div class="starter-template">

			<h2>
				<span th:text="'Saved Simulations'"></span>
			</h2>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>ID</td>
						<td>Name</td>
						<td>Run Date</td>
						<td>Number Of Houses</td>
						<td>Singles Percentage</td>
						<td>Options</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${simConfigs.empty}">
						<td colspan="6">No Saved Simulations</td>
					</tr>
					<tr th:each="simConfig : ${simConfigs}">
						<td th:text="${simConfig.id}">1</td>
						<td><a href="#" th:href="@{/Simulation/result/{name}(name=${simConfig.name})}"
							th:text="${simConfig.name}">name ...</a></td>
						<td th:text="${#calendars.format(availability.date)}">July 11, 2017
							2:17:16 PM CDT</td>
						<td th:text="${simConfig.numberOfHouses}">300 ...</td>
						<td>
						   Options
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<!-- end container -->
	
	<div th:replace="layout/main :: footer"></div>
</body>
</html>

