<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main :: head(title='HIS-LPS::Availabilities')"></head>
<body class="skin-blue layout-top-nav layout-boxed">

	<div class="wrapper">
		<div th:replace="layout/main :: header('availability')"></div>

		<!-- Full Width Column -->
		<div class="content-wrapper">

			<!-- Content Header (Page header) -->
			<section class="content-header"
				th:insert="layout/main :: breadcrumb(~{ :: .breadcrumb})">
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Availabilities</li>
				</ol>
			</section>


			<!-- Main content -->
			<section class="content"
				th:insert="layout/main :: box( 'Availabilities And Usabilities', ~{ :: .box-body})">
				<div class="box-body">

					<table class="table table-bordered table-striped">
						<thead>
							<tr role="row">
								<th>Title</th>
								<th>Text</th>
								<th>Data Of</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" th:if="${availabilities.empty}">
								<td colspan="5">No tasks</td>
							</tr>
							<tr role="row" th:each="availability : ${availabilities}">
								<td><a href="#"
									th:href="@{/availability/details/{id}(id=${availability.id})}"
									th:text="${availability.title}">Title ...</a></td>
								<td th:text="${availability.text}">Text ...</td>
								<td th:text="${#calendars.format(availability.date)}">July
									11, 2017 2:17:16 PM CDT</td>
								<td>Options</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
		<!-- end container -->

		<!-- Main Footer -->
		<div th:replace="layout/main :: footer"></div>
	</div>

</body>
</html>

